*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(18, 17, 17);
    height: 100vh;
    user-select: none;
    border-top: 30px solid rgb(72, 30, 5);
    border-bottom: 30px solid rgb(72, 30, 5);
    border-right: 30px solid rgb(89, 45, 19);
    border-left: 30px solid rgb(89, 45, 19);
}

h1{
    font-family: 'Rock Salt', cursive;
    letter-spacing: 5px;
    font-size:5vw;
}

.lista{
    font-family: 'Pangolin', cursive;
    font-size: 2vw;
}

ol i{
    margin-left: 10px;
}

.fatto{
    text-decoration: line-through;
}
